/* Clock */
.clock {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.clock__hand {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
}

.clock__hand--hour {
  height: 50px;
  width: 8px;
}

.clock__hand--minute {
  height: 80px;
  width: 4px;
}

.clock__hand--second {
  background-color: rgb(255, 0, 0);
  height: 90px;
  width: 2px;
}
